{% extends "base.html" %}
{% block title %}Other Page{% endblock %}

{% block content %}
    <h1>Other page in Jinja</h1>
    <h1>Filter</h1>
    <p>{{ some_text|upper }}</p>
    <p>{{ some_text|lower }}</p>
    <p>{{ some_text|title }}</p>
    <p>{{ some_text|replace('l', 'L') }}</p>
    
    <!-- custom filter -->
    <p>{{ some_text|reverse_string }}</p>
    <p>{{ some_text|repeat(4) }}</p>
    <p>{{ some_text|alternate_case }}</p>

    <a href="{{ url_for('index') }}">Index</a>

{% endblock %}